<div class='my-4 max-w-screen-xl mx-auto'>
  <section class="section">
    <h2 class="mb-2 title dark:text-white text-2xl font-semibold tracking-wide">Lotes Favoritados:</h2>

    <%= render 'shared/lot-card', { lots: @favorite_lots } %>

    <% if @favorite_lots.empty? %>
      <p>A lista de favoritos está vazia.</p>
    <% end %>
  </section>

  <section class="section recommended my-8">
    <h2 class="mb-2 title dark:text-white text-2xl font-semibold tracking-wide">Lotes Recomendados:</h2>

    <%= render 'shared/lot-card', { lots: @recommended_lots } %>

    <% if @recommended_lots.empty? %>
      <p>Não há nenhum lote para ser recomendado.</p>
    <% end %>
  </section>
</div>
