<section class="section__product-model--show">
  <h2>Produto</h2>

  <dl class="description__list">
    <div>
      <dt>Nome:</dt>
      <dd><%= @product_model.name %></dd>
    </div>

    <div>
      <dt>Dimensões:</dt>
      <dd><%= @product_model.full_dimensions_desc %></dd>
    </div>

    <div>
      <dt>Peso:</dt>
      <dd><%= @product_model.weight %>g</dd>
    </div>

    <div>
      <dt>Categoria:</dt>
      <dd><%= @product_model.category.name %></dd>
    </div>
  </dl>
</section>
