<div class="container">
  <%= render 'shared/errors', { obj: @lot } %>

  <section class="section admin lot-form">
    <h2>Editar Lote - <%= @lot.batch_code %></h2>

    <%= render 'form' %>
  </section>
</div>
