<div class='my-4 max-w-screen-xl mx-auto'>
  <%= render 'shared/errors', { obj: @lot } %>

  <section class="section admin lot-form">
    <h2 class="mb-4 title dark:text-white text-2xl font-semibold tracking-wide">Criar um novo Lote</h2>

    <%= render 'form' %>
  </section>
</div>
