<div class='container'>
  <section class="section bid--index">
    <h2>Meus Lances Vencedores</h2>
    <%= render 'shared/lot-card', { lots: @winning_lots } %>

    <% if @winning_lots.empty? %>
      <p>Você ainda não venceu nenhum lance.</p>
    <% end %>
  </section>

  <section class="section bid--index">
    <h2>Meu Histórico de Lances</h2>
    <%= render 'shared/lot-card', { lots: @lots } %>

    <% if @lots.empty? %>
      <p>Você ainda não deu nenhum lance.
        <%= link_to "Clique aqui", lots_path %> para pesquisar lotes.
      </p>
    <% end %>
  </section>
</div>
