<div class='my-4 max-w-screen-xl mx-auto'>
  <section>
    <h2 class="mb-2 title dark:text-white text-2xl font-semibold tracking-wide">Meus lances vencedores</h2>
    <%= render 'shared/lot-card', { lots: @winning_lots } %>

    <% if @winning_lots.empty? %>
      <p>Você ainda não venceu nenhum lance.</p>
    <% end %>
  </section>

  <section class="my-8">
    <h2 class="mb-2 title dark:text-white text-2xl font-semibold tracking-wide">Meu histórico de lances</h2>
    <%= render 'shared/lot-card', { lots: @lots } %>

    <% if @lots.empty? %>
      <p>Você ainda não deu nenhum lance.
        <%= link_to "Clique aqui", lots_path %> para pesquisar lotes.
      </p>
    <% end %>
  </section>
</div>
