@import '../config';
@import '../mixins';

.header,
.header__nav,
.header .menu,
.nav__auth {
  @include center-flex;
}

.header {
  min-height: 8rem;
  box-shadow: 0 2px 5px rgba($grey-500, 0.3);
  padding-inline: 2rem;

  .header__nav {
    flex: 1;
    justify-content: space-between;
    max-width: $page-width;
  }

  .menu {
    gap: 2rem;
  }

  @media screen and (max-width: 920px) {
    .header__nav {
      flex-wrap: wrap;
    }

    .menu {
      flex-basis: 100%;
      gap: 1rem;
    }
  }

  .menu__item,
  .admin .menu__item {
    margin-block-end: 1.5rem;
    cursor: pointer;
    font-weight: 600;

    a {
      white-space: nowrap;
      color: inherit;
      padding-block: 1rem;
      text-decoration: none;
      background-image: linear-gradient($primary-color, $primary-color),
        linear-gradient(transparent, transparent);
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 0 2px, auto;
      transition: background-size 0.2s ease-out;

      &:hover,
      &.active {
        background-size: 100% 2px, auto;
        color: $primary-color;
      }
    }
  }
}

.nav__brand {
  white-space: nowrap;

  a {
    text-decoration: none;
    color: inherit;
  }
}
