@import '../config';
@import '../mixins';

.card {
  width: 30rem;
  overflow: hidden;
  border: $border;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  position: relative;

  h3 {
    position: absolute;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.05);
    left: 0;
    top: 0;
    right: 0;
  }

  img {
    object-fit: cover;
    height: 20rem;
  }

  .card__body {
    padding: 2rem;

    div {
      display: flex;
      flex-wrap: wrap;
      padding-block: 0.35rem;

      time {
        flex-basis: 100%;
      }

      dt {
        font-weight: bold;
      }

      dd.pending {
        color: $accent-color;
      }
      dd.approved {
        color: $green-500;
      }
      dd.finished {
        color: $red-700;
      }
    }
  }

  .card__controls {
    display: flex;
    margin-top: 1.5rem;

    .card__controls-btn {
      all: unset;
      color: $border-color;
      cursor: pointer;
      display: inline-block;
      font-size: 1.8rem;
      padding: 0.4rem 0.8rem;
      border: $border;
      border-color: $border-color;

      &:first-child {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;

        &:not(:only-child) {
          border-right: 0;
        }
      }

      &:last-child {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        &:not(:only-child) {
          border-left: 0;
        }
      }

      &:hover {
        background-color: $border-color;
        color: $white;
      }
    }
  }
}
