// View index
.section__lot--index {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  h2 {
    flex-basis: 100%;
  }

  a.btn.btn-primary {
    order: -1;
  }
}

// View show
.section__lot--show {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  h2 {
    flex-basis: 100%;
  }

  a.btn.btn-primary {
    order: -1;
  }
}
