<ul class="list admin menu">
  <li class="menu__item"><%= link_to 'Lotes', lots_path %></li>
  <li class="menu__item"><%= link_to 'Usuários', users_path %></li>
  <li class="menu__item"><%= link_to 'Produtos', product_models_path %></li>
  <li class="menu__item"><%= link_to 'Categorias', categories_path %></li>
</ul>
