<%= render  'shared/search-bar' %>

<section class="section section__lot--index">
  <h2>Lotes em andamento:</h2>

  <%= render  'shared/card', { lots: @lots.lots_in_progress } %>

  <% if @lots.lots_in_progress.empty? %>
    <p>Não há lotes em andamento no momento.</p>
  <% end %>
</section>

<section class="section section__lot--index">
  <h2>Lotes futuros:</h2>

  <%= render 'shared/card', { lots: @lots.lots_in_future } %>

  <% if @lots.lots_in_future.empty? %>
    <p>No momento, não existe nenhum lote programado para iniciar em breve.</p>
  <% end %>
</section>
