/* Variables */
$page-width: 1480px;

/* Colors */
$grey-900: #181b23;
$grey-800: #1f2029;
$grey-750: #1a202c;
$grey-700: #353646;
$grey-600: #4b4d63;
$grey-500: #616480;
$grey-400: #797d9a;
$grey-300: #9699b0;
$grey-200: #b3b5c6;
$grey-100: #d1d2dc;
$grey-50: #eeeef2;

$cyan-500: #00b5d8;

$pink-500: #d53f8c;

$purple-500: #9f7aea;

$placeholder-color: #a0aec0;

/* Border */
$border: 1px solid $grey-600;
$border-color: $grey-600;
$border-radius-sm: 0.5rem;
$border-radius-lg: 1rem;

$white: #ffffff;
$green-500: #2ec52e;
$green-700: #28a745;
$red-500: #fa583c;
$red-700: #f94424;

$primary-color: #2c73eb;
$secondary-color: #95a5a6;
$accent-color: #e67e22;
$text-color: #212529;

/* Table */
$table-head-bg-color: $grey-900;
$table-border-color: $grey-600;

$input-border: 2px solid $cyan-500;
