@mixin center-flex($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin section-wrap {
  display: flex;
  flex-wrap: wrap;

  h2 {
    flex-basis: 100%;
  }
}
