* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reset list */
.list {
  list-style: none;
}

/* Reset buttons */
.btn {
  all: unset;
  cursor: pointer;
}

/* Reset links */
.link {
  all: unset;
  cursor: pointer;
}
