@import 'config';

/* Buttons */
.btn,
.btn[type='submit'] {
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 2rem;
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(0.85);
  }
}

.btn-primary {
  background-color: $primary-color;
  color: $white;
}

.btn-secondary {
  background-color: $secondary-color;
  color: $white;
}

.btn-outline {
  border: 1px solid $primary-color;
  color: $primary-color;
  margin-inline-start: 1rem;

  &:hover {
    background: $primary-color;
    color: $white;
  }
}

.btn-large {
  padding: 1rem 10rem;
  text-align: center;
}
