@import 'config';
@import 'mixins';

/* Buttons */
.btn,
.btn[type='submit'] {
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 2rem;
  transition: filter 0.2s ease;
  color: $white;

  &:hover {
    filter: brightness(0.85);
  }
}

.btn-primary {
  background-color: $primary-color;
}

.btn-secondary {
  background-color: $secondary-color;
}

.btn-accent {
  background-color: $accent-color;
}

.btn-success {
  background-color: $green-700;
}

.btn-danger {
  background-color: $red-700;
}

.btn-outline,
.btn-outline[type='submit'] {
  border: 1px solid $primary-color;
  color: $primary-color;
  margin-inline-start: 1rem;

  &:hover {
    background: $primary-color;
    color: $white;
  }
}

.btn-large {
  padding: 1rem 10rem;
  text-align: center;
}
