@import 'config';
@import 'mixins';

.card {
  border-radius: $border-radius-lg;
  border: $border;
  overflow: hidden;
  position: relative;
  width: 34rem;

  header {
    color: $grey-750;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: $purple-500;
    }

    h3,
    h4 {
      background: rgba($grey-500, 0.2);
      color: $grey-50;
      font-size: 1.8rem;
      padding: 1.5rem;
      text-shadow: 1px 1px 0.5px $grey-900;
      transition: background-color 0.25s ease;

      &:hover {
        background-color: rgba($grey-500, 0.5);
      }

      span {
        color: $grey-50;
      }

      a {
        color: inherit;
      }
    }
  }

  img {
    border-bottom: $border;
    height: 25rem;
    width: 100%;
    object-fit: cover;
  }

  .card__body {
    padding: 2rem;

    div {
      display: flex;
      flex-wrap: wrap;
      padding-block: 0.35rem;

      time {
        flex-basis: 100%;
      }

      dt {
        font-weight: 600;
      }
    }

    .countdown__section {
      background-color: $grey-750;
      border-radius: $border-radius-lg;
      color: $grey-50;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      position: absolute;
      top: 23rem;
      width: calc(100% - 4rem);

      .countdown__item {
        padding: 0 auto;

        & ~ .countdown__item {
          border-left: $border;
        }

        .label {
          font-size: 1.1rem;
        }
      }

      .countdown__label {
        background-color: rgba($grey-750, 0.75);
        border-radius: $border-radius-sm;
        font-size: 1.4rem;
        font-weight: normal;
        left: 0;
        letter-spacing: 1.1px;
        padding: 0.5rem;
        position: absolute;
        top: -2.6rem;

        &.ended {
          background-color: $purple-500;
          font-weight: 500;
          top: 6rem;
        }
      }

      &.ended {
        background-color: transparent;
      }
    }

    .card__controls {
      @include center-flex;
      margin-top: 1.5rem;
      justify-content: space-between;
    }

    .list {
      li {
        margin-block: 0.5rem;
      }
    }
  }

  button,
  .btn.favorite {
    padding: 0.5rem 1rem;
    border-radius: $border-radius-sm;
    background-color: $pink-500;
    transition: all 0.3s ease;
  }

  .btn-bid {
    background-color: $purple-500;
    padding: 0.75rem 1.5rem;
  }
}
