@import 'config';
@import 'mixins';

.form {
  padding-block: 1rem;
  width: 100%;

  p {
    @include center-flex(column);
    align-items: flex-start;

    label {
      margin-block-end: 1rem;
      font-weight: 500;
    }

    margin-block-end: 2rem;

    input,
    select {
      color-scheme: dark;
      padding-inline: 1.5rem;
      border-radius: $border-radius-sm;
      outline: 0;
      border: 0;

      &:not([type='checkbox']) {
        height: 4.5rem;
        width: 100%;
      }

      &:focus {
        border: $input-border;
      }

      &:active,
      &:focus {
        background: $grey-750;
      }
    }

    input[type='checkbox'] {
      display: none;

      & + label {
        position: relative;
        padding-left: 3rem;
        cursor: pointer;

        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          left: 0;
          top: 0;
          width: 2rem;
          height: 2rem;
          background-color: $grey-500;
          border-radius: $border-radius-sm;
        }
      }

      &:checked + label::before {
        background-color: $cyan-500;
        content: '✔';
        font-size: 1.85rem;
        text-align: center;
      }
    }

    input[type='file'] {
      padding: 1rem;
    }
  }

  .check-box__container {
    @include center-flex;
    align-items: baseline;
    justify-content: flex-start;
  }

  .actions {
    @include center-flex;
    width: 100%;

    input {
      @include center-flex;
      flex: 1;
      border-radius: 0.5rem;
      height: 4rem;
    }
  }

  textarea {
    border-radius: $border-radius-sm;
    border: 0;
    max-height: 20rem !important;
    min-height: 5rem !important;
    outline: 0;
    padding: 2rem;
    width: 50vw !important;

    &:focus {
      border: 2px solid $cyan-500;
    }
  }
}

.bid__form {
  @include center-flex;
  flex-wrap: wrap;

  input {
    flex: 1;
  }

  input[type='submit'] {
    flex-basis: 100%;
    margin: 0;
  }
}
