@import 'mixins';

.form {
  padding-block: 1rem;

  p {
    @include center-flex(column);
    align-items: flex-start;
  }

  input,
  select {
    margin-bottom: 1rem;
    padding: 0.65rem;
  }

  textarea {
    max-height: 20rem;
    max-width: 100%;
    min-height: 5rem;
    min-width: 10rem;
    padding: 1rem;
  }

  .check-box__container {
    @include center-flex;
    align-items: baseline;
    gap: 1rem;
    justify-content: flex-start;
  }
}
