@import 'config';

/* Typography */
html {
  font-size: 62.5%; // 1 rem => 10px
}

body,
input,
button,
textarea,
select {
  font-size: 1.65rem; // 16.5px
  font-family: 'Roboto', sans-serif;
  color: $grey-50;
  background: $grey-900;
}

/* Title */
h1,
h2,
h3 {
  font-size: 2.65rem;
  letter-spacing: 1.1px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-style: italic;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

/* Layout */
main {
  display: flex;
  max-width: $page-width;
  padding-inline: 2vw;
  margin-inline: auto;
  min-height: calc(100vh - 8rem);
}

/* Global */
.full-bleed {
  grid-column: 1 / span 3;
}
