@import 'config';

/* Typography */
html {
  font-size: 62.5%; // 1 rem => 10px
}

body,
input,
label,
button,
textarea,
select {
  font-size: 1.65rem; // 16.5px
  font-family: 'Inter', sans-serif;
  color: $text-color;
}

/* Layout */
main {
  display: grid;
  grid-template-columns: 1fr minmax(auto, $page-width) 1fr;
}

main > * {
  grid-column: 2;
}

/* Global */
section {
  padding-block: 2rem;
}

.full-bleed {
  grid-column: 1 / span 3;
}
