@import 'config';
@import 'mixins';

.card {
  border-radius: $border-radius-lg;
  border: $border;
  overflow: hidden;
  position: relative;
  flex-basis: 25rem;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 35rem;

  figure {
    height: 25rem;

    img {
      border-bottom: $border;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card__body {
    padding: 2rem;

    h3 {
      font-size: 1.6rem;
      font-weight: normal;
      text-transform: uppercase;

      a {
        font-size: 1.8rem;
        color: $cyan-500;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }

    > p {
      font-size: 2rem;
      margin-block: 1.5rem;
      font-weight: bold;
      color: $cyan-500;

      small {
        display: block;
        font-size: 1.4rem;
        font-weight: normal;
        color: $grey-50;
      }
    }
  }

  .countdown {
    border-radius: $border-radius-sm;
    border: $border;
    border-color: $cyan-500;
    display: flex;
    height: 4rem;
    justify-content: space-between;

    .icon__wrapper {
      @include center-flex;
      background: $cyan-500;
      border-bottom-left-radius: 0.35rem;
      border-top-left-radius: 0.35rem;
      font-size: 2.5rem;
      padding-inline: 1.75rem;
    }

    .text__wrapper {
      @include center-flex(column);
      flex: 1;
      text-transform: uppercase;

      p {
        font-size: 1rem;
        letter-spacing: 1px;
      }
    }
  }

  &:hover .countdown {
    display: none;
  }

  .card__controls {
    display: none;
  }

  &:hover .card__controls {
    border-radius: $border-radius-sm;
    border: $border;
    border-color: $cyan-500;
    @include center-flex;
    height: 4rem;

    .btn-bid {
      flex: 1;
      text-align: center;
      border-radius: 0.35rem;
      background-color: $cyan-500;
    }

    .btn-favorite {
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      color: $pink-500;
      font-size: 2rem;
    }
  }
}
