@import 'config';
@import 'mixins';

.header,
.header__nav,
.header .menu,
.nav__auth {
  @include center-flex;
}

.header {
  min-height: 8rem;

  .header__nav {
    flex: 1;
    justify-content: space-between;
    max-width: $page-width;
    padding-inline: 2vw;
  }

  i {
    font-size: 2rem;
  }
}

.nav__brand {
  i {
    color: $cyan-500;
    font-size: 2.25rem;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
  }
}

.nav__auth {
  align-items: flex-end;

  .btn {
    padding-inline: 2rem 1rem;
  }

  > i {
    &::after {
      content: '';
      border-right: $border;
      margin-inline-start: 1rem;
    }
  }

  .user-info {
    @include center-flex(column);
    align-items: flex-end;
    margin-inline-start: 1rem;
  }

  .logout,
  .login {
    @include center-flex;
  }
}
