@import 'config';

.flash__container {
  position: absolute;
  color: $white;
  font-weight: bold;
  max-height: 4rem;
  left: 0;
  right: 0;
  width: 100%;

  @media screen and(max-width: 1080px) {
    padding-inline: 2rem;
  }

  & > p {
    margin-inline: auto;
    max-width: $page-width;
    padding-block: 1rem;
  }

  &.notice {
    background: $green-500;
  }

  &.alert {
    background-color: $red-500;
  }
}

.errors {
  border: $border;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem auto 2rem;
  border-color: $red-500;
  color: $red-700;
  background: rgba($red-500, 0.075);
  width: fit-content;

  li {
    margin-block: 0.35rem;

    &::before {
      content: '* ';
    }
  }
}
