@import 'config';

.flash__container {
  position: absolute;
  color: $white;
  font-weight: bold;
  max-height: 4rem;
  left: 0;
  right: 0;
  width: 100%;

  & > p {
    margin-inline: auto;
    max-width: $page-width;
    padding-block: 0.8rem;
    text-align: center;
  }

  &.notice {
    background: $green-500;
  }

  &.alert {
    background-color: $red-500;
  }

  &.warning {
    background-color: $yellow-500;
    color: $text-color;
  }
}

.errors {
  border: $border;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem auto 2rem;
  border-color: $red-700;
  color: $red-700;
  background: rgba($red-700, 0.15);
  width: 100%;

  li {
    margin-block: 0.35rem;

    &::before {
      content: '* ';
    }
  }
}
