@import 'config';
@import 'mixins';

.search-bar__wrapper {
  @include center-flex;
  background: $grey-750;
  border-radius: 0.5rem;
  border-radius: 5rem;
  min-width: 40rem;

  input {
    all: unset;
    display: inline-block;
    font-weight: 400;
    outline: none;
    padding-block: 1.75rem;

    &::placeholder {
      color: $placeholder-color;
    }
  }

  form,
  label {
    @include center-flex;
    width: 100%;
  }

  label {
    @include center-flex;
    justify-content: space-between;
    padding-inline: 3rem 1rem;
  }

  i {
    font-size: 2rem;
  }
}
