@import 'config';
@import 'mixins';

.section {
  @include section-wrap;
  background: $grey-750;
  border-radius: $border-radius-lg;
  gap: 2rem;
  padding: 3rem;
}

.section,
.container {
  width: 100%;
  margin-block: 3rem;
}

/* Devise */
.login__container {
  @include center-flex(column);
  padding-block: 5rem;
  width: 100%;

  .login__content {
    @include center-flex(column);
    background: $grey-750;
    border-radius: $border-radius-lg;
    align-self: center;
    height: fit-content;
    justify-self: center;
    padding: 3rem;
    width: 35rem;
    margin-block-end: 10rem;

    & form {
      input.btn-primary {
        padding-block: 0.5rem;
      }
    }

    & > a {
      color: inherit;
      margin-block-start: 1rem;
    }
  }
}

/* Products */
// Products View Index
.section.products--index {
  gap: 2rem;
  margin-block-start: 4.5rem;

  .btn-primary {
    padding-block: 1rem;
  }
}

// Products View Show
.section.product-model--show {
  @include section-wrap;
  column-gap: 5rem;

  .description__list {
    padding-block-start: 2rem;
  }

  div {
    padding-block: 0.5rem;
  }

  dd {
    max-width: 45ch;
  }

  img {
    max-width: 32rem;
    max-height: 32rem;
    margin-block: 1rem;
  }

  p {
    padding-block: 1rem;
  }
}

.lot__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block-start: 1.5rem;
}

// Lot edit
.section.lot-form,
.section.admin.products--edit {
  .form {
    width: 100%;

    label {
      white-space: nowrap;
    }
  }

  .select__date {
    @include center-flex;
    gap: 1rem;
  }
}

.section.admin.bid--index {
  height: fit-content;
}

.section.admin.lot--index,
.section.admin.lot--show,
.section.admin.bid--index,
.section.categories--index,
.section.favorites--index,
.section.product-model--show,
.section.profiles--index,
.section.products--index,
.section.bid--index {
  align-content: flex-start;
  height: fit-content;
}

.section.bid--index,
.section.favorites--index {
  margin-block-start: 1.5rem;
}

.section.admin.bid--index,
.section.admin.lot--index,
.section.categories--index,
.section.profiles--index {
  margin-block-start: 4.5rem;
}

.section.admin.lot--index,
.section.product-model--show,
.section.lot--manage,
.section.bid--index {
  p a {
    color: $purple-500;
  }
}
