@import 'config';

.table {
  border-collapse: collapse;
  margin-bottom: 1rem;
  max-width: 100%;
  width: 100%;
  position: relative;

  a {
    color: $purple-500;
  }

  th {
    background-color: $table-head-bg-color;
    border-bottom: 2px solid $table-border-color;
    border-top: none;
    text-align: left;
  }

  td,
  th {
    border-top: 1px solid $table-border-color;
    padding: 1rem;
  }

  .table__controls {
    width: 1%;
    white-space: nowrap;

    > div {
      display: inline-flex;
    }

    form {
      all: unset;
      & ~ form {
        margin-left: 1rem;
      }
    }

    button:not(.add) {
      all: unset;
      cursor: pointer;
    }
  }
}

.table-bordered {
  border: 1px solid $table-border-color;

  th,
  td {
    border: 1px solid $table-border-color;
  }
}

.table__container {
  width: 100%;

  & ~ .btn {
    margin-block: 3rem;
  }
}
