<section class="section admin categories--index">
  <%= link_to "Cadastrar Nova Categoria", new_category_path, class:"btn btn-primary rounded" %>
  <h2>Lista de Categorias:</h2>

  <table class="table table-bordered">
    <thead>
      <th>Nome da Categoria</th>
      <th>Total de Produtos</th>
      <th>Ações</th>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= category.products.count %></td>
          <td><%= link_to "Editar", edit_category_path(category)  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
